In [2]:
import pandas as pd
from pymongo import MongoClient

In [28]:
#client= MongoClient("mongodb+srv://cecoDbUser:cecoUser2021@dashboard.agmyi.mongodb.net/DashBoard?retryWrites=true&w=majority")

client.close()

In [4]:
db = client.get_database('DashBoard')

In [5]:
records = db.Lights_Shelly1PM_Test

In [6]:
records.count_documents({})

63

In [7]:
list(records.find())

[{'_id': ObjectId('61164946eb51675398f7ee87'),
  'roomId': '1',
  'consumption_wh': 1.2453333333333334,
  'deviceId': 'P0L1',
  'power_w': 74.72,
  'date': datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)},
 {'_id': ObjectId('6116494deb51675398f7ee8b'),
  'roomId': '2',
  'consumption_wh': 1.1411666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.47,
  'date': datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)},
 {'_id': ObjectId('6116497eeb51675398f7ee97'),
  'roomId': '1',
  'consumption_wh': 1.2451666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.71,
  'date': datetime.datetime(2021, 8, 13, 10, 29, 12, 528000)},
 {'_id': ObjectId('61164984eb51675398f7ee9b'),
  'roomId': '2',
  'consumption_wh': 1.1406666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.44,
  'date': datetime.datetime(2021, 8, 13, 10, 29, 12, 528000)},
 {'_id': ObjectId('611649b9eb51675398f7eea7'),
  'roomId': '1',
  'consumption_wh': 1.2463333333333333,
  'deviceId': 'P0L1',
  'power_w': 74.78,
  'date': datetime.datetime(2021, 8, 13, 10, 30, 12, 528000)},
 {'_id': ObjectId('611649c0eb51675398f7eeab'),
  'roomId': '2',
  'consumption_wh': 1.1409999999999998,
  'deviceId': 'P1L1',
  'power_w': 68.46,
  'date': datetime.datetime(2021, 8, 13, 10, 30, 12, 528000)},
 {'_id': ObjectId('611649f6eb51675398f7eeb7'),
  'roomId': '1',
  'consumption_wh': 1.2451666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.71,
  'date': datetime.datetime(2021, 8, 13, 10, 31, 12, 528000)},
 {'_id': ObjectId('611649fceb51675398f7eebb'),
  'roomId': '2',
  'consumption_wh': 1.1411666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.47,
  'date': datetime.datetime(2021, 8, 13, 10, 31, 12, 528000)},
 {'_id': ObjectId('61164a32eb51675398f7eec7'),
  'roomId': '1',
  'consumption_wh': 1.246,
  'deviceId': 'P0L1',
  'power_w': 74.76,
  'date': datetime.datetime(2021, 8, 13, 10, 32, 12, 529000)},
 {'_id': ObjectId('61164a3beb51675398f7eecf'),
  'roomId': '2',
  'consumption_wh': 1.1411666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.47,
  'date': datetime.datetime(2021, 8, 13, 10, 32, 12, 529000)},
 {'_id': ObjectId('61164a6deb51675398f7eedb'),
  'roomId': '1',
  'consumption_wh': 1.2445,
  'deviceId': 'P0L1',
  'power_w': 74.67,
  'date': datetime.datetime(2021, 8, 13, 10, 33, 12, 528000)},
 {'_id': ObjectId('61164a74eb51675398f7eee3'),
  'roomId': '2',
  'consumption_wh': 1.1400000000000001,
  'deviceId': 'P1L1',
  'power_w': 68.4,
  'date': datetime.datetime(2021, 8, 13, 10, 33, 12, 528000)},
 {'_id': ObjectId('61164aa9eb51675398f7eeef'),
  'roomId': '1',
  'consumption_wh': 1.2441666666666669,
  'deviceId': 'P0L1',
  'power_w': 74.65,
  'date': datetime.datetime(2021, 8, 13, 10, 34, 12, 529000)},
 {'_id': ObjectId('61164ab0eb51675398f7eef7'),
  'roomId': '2',
  'consumption_wh': 1.1421666666666668,
  'deviceId': 'P1L1',
  'power_w': 68.53,
  'date': datetime.datetime(2021, 8, 13, 10, 34, 12, 529000)},
 {'_id': ObjectId('61164ae5eb51675398f7ef03'),
  'roomId': '1',
  'consumption_wh': 1.2463333333333333,
  'deviceId': 'P0L1',
  'power_w': 74.78,
  'date': datetime.datetime(2021, 8, 13, 10, 35, 12, 528000)},
 {'_id': ObjectId('61164aedeb51675398f7ef0b'),
  'roomId': '2',
  'consumption_wh': 1.1406666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.44,
  'date': datetime.datetime(2021, 8, 13, 10, 35, 12, 528000)},
 {'_id': ObjectId('61164b21eb51675398f7ef17'),
  'roomId': '1',
  'consumption_wh': 1.2456666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.74,
  'date': datetime.datetime(2021, 8, 13, 10, 36, 12, 529000)},
 {'_id': ObjectId('61164b29eb51675398f7ef1f'),
  'roomId': '2',
  'consumption_wh': 1.142,
  'deviceId': 'P1L1',
  'power_w': 68.52,
  'date': datetime.datetime(2021, 8, 13, 10, 36, 12, 529000)},
 {'_id': ObjectId('61164b5deb51675398f7ef2b'),
  'roomId': '1',
  'consumption_wh': 1.2451666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.71,
  'date': datetime.datetime(2021, 8, 13, 10, 37, 12, 528000)},
 {'_id': ObjectId('61164b64eb51675398f7ef33'),
  'roomId': '2',
  'consumption_wh': 1.1409999999999998,
  'deviceId': 'P1L1',
  'power_w': 68.46,
  'date': datetime.datetime(2021, 8, 13, 10, 37, 12, 528000)},
 {'_id': ObjectId('61164b99eb51675398f7ef45'),
  'roomId': '1',
  'consumption_wh': 1.2469999999999999,
  'deviceId': 'P0L1',
  'power_w': 74.82,
  'date': datetime.datetime(2021, 8, 13, 10, 38, 12, 528000)},
 {'_id': ObjectId('61164ba0eb51675398f7ef4d'),
  'roomId': '2',
  'consumption_wh': 1.1408333333333334,
  'deviceId': 'P1L1',
  'power_w': 68.45,
  'date': datetime.datetime(2021, 8, 13, 10, 38, 12, 528000)},
 {'_id': ObjectId('61164bd6eb51675398f7ef59'),
  'roomId': '1',
  'consumption_wh': 1.2461666666666666,
  'deviceId': 'P0L1',
  'power_w': 74.77,
  'date': datetime.datetime(2021, 8, 13, 10, 39, 12, 529000)},
 {'_id': ObjectId('61164bdceb51675398f7ef61'),
  'roomId': '2',
  'consumption_wh': 1.1406666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.44,
  'date': datetime.datetime(2021, 8, 13, 10, 39, 12, 529000)},
 {'_id': ObjectId('61164c11eb51675398f7ef6d'),
  'roomId': '1',
  'consumption_wh': 1.2455,
  'deviceId': 'P0L1',
  'power_w': 74.73,
  'date': datetime.datetime(2021, 8, 13, 10, 40, 12, 529000)},
 {'_id': ObjectId('61164c18eb51675398f7ef75'),
  'roomId': '2',
  'consumption_wh': 1.1405,
  'deviceId': 'P1L1',
  'power_w': 68.43,
  'date': datetime.datetime(2021, 8, 13, 10, 40, 12, 529000)},
 {'_id': ObjectId('61164c4deb51675398f7ef81'),
  'roomId': '1',
  'consumption_wh': 1.246,
  'deviceId': 'P0L1',
  'power_w': 74.76,
  'date': datetime.datetime(2021, 8, 13, 10, 41, 12, 529000)},
 {'_id': ObjectId('61164c54eb51675398f7ef89'),
  'roomId': '2',
  'consumption_wh': 1.1400000000000001,
  'deviceId': 'P1L1',
  'power_w': 68.4,
  'date': datetime.datetime(2021, 8, 13, 10, 41, 12, 529000)},
 {'_id': ObjectId('61164c8aeb51675398f7ef95'),
  'roomId': '1',
  'consumption_wh': 1.2458333333333333,
  'deviceId': 'P0L1',
  'power_w': 74.75,
  'date': datetime.datetime(2021, 8, 13, 10, 42, 12, 528000)},
 {'_id': ObjectId('61164c90eb51675398f7ef9d'),
  'roomId': '2',
  'consumption_wh': 1.1418333333333335,
  'deviceId': 'P1L1',
  'power_w': 68.51,
  'date': datetime.datetime(2021, 8, 13, 10, 42, 12, 528000)},
 {'_id': ObjectId('61164cc5eb51675398f7efa9'),
  'roomId': '1',
  'consumption_wh': 1.245,
  'deviceId': 'P0L1',
  'power_w': 74.7,
  'date': datetime.datetime(2021, 8, 13, 10, 43, 12, 528000)},
 {'_id': ObjectId('61164ccdeb51675398f7efb1'),
  'roomId': '2',
  'consumption_wh': 1.1409999999999998,
  'deviceId': 'P1L1',
  'power_w': 68.46,
  'date': datetime.datetime(2021, 8, 13, 10, 43, 12, 528000)},
 {'_id': ObjectId('61164d01eb51675398f7efbd'),
  'roomId': '1',
  'consumption_wh': 1.2468333333333335,
  'deviceId': 'P0L1',
  'power_w': 74.81,
  'date': datetime.datetime(2021, 8, 13, 10, 44, 12, 529000)},
 {'_id': ObjectId('61164d08eb51675398f7efc5'),
  'roomId': '2',
  'consumption_wh': 1.1400000000000001,
  'deviceId': 'P1L1',
  'power_w': 68.4,
  'date': datetime.datetime(2021, 8, 13, 10, 44, 12, 529000)},
 {'_id': ObjectId('61164d3deb51675398f7efd1'),
  'roomId': '1',
  'consumption_wh': 1.2469999999999999,
  'deviceId': 'P0L1',
  'power_w': 74.82,
  'date': datetime.datetime(2021, 8, 13, 10, 45, 12, 529000)},
 {'_id': ObjectId('61164d44eb51675398f7efd9'),
  'roomId': '2',
  'consumption_wh': 1.1409999999999998,
  'deviceId': 'P1L1',
  'power_w': 68.46,
  'date': datetime.datetime(2021, 8, 13, 10, 45, 12, 529000)},
 {'_id': ObjectId('61164d79eb51675398f7efe5'),
  'roomId': '1',
  'consumption_wh': 1.2455,
  'deviceId': 'P0L1',
  'power_w': 74.73,
  'date': datetime.datetime(2021, 8, 13, 10, 46, 12, 528000)},
 {'_id': ObjectId('61164d80eb51675398f7efed'),
  'roomId': '2',
  'consumption_wh': 1.1406666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.44,
  'date': datetime.datetime(2021, 8, 13, 10, 46, 12, 528000)},
 {'_id': ObjectId('61164db5eb51675398f7eff9'),
  'roomId': '1',
  'consumption_wh': 1.2466666666666666,
  'deviceId': 'P0L1',
  'power_w': 74.8,
  'date': datetime.datetime(2021, 8, 13, 10, 47, 12, 528000)},
 {'_id': ObjectId('61164dbceb51675398f7f001'),
  'roomId': '2',
  'consumption_wh': 1.1418333333333335,
  'deviceId': 'P1L1',
  'power_w': 68.51,
  'date': datetime.datetime(2021, 8, 13, 10, 47, 12, 528000)},
 {'_id': ObjectId('61164df1eb51675398f7f013'),
  'roomId': '1',
  'consumption_wh': 1.2446666666666668,
  'deviceId': 'P0L1',
  'power_w': 74.68,
  'date': datetime.datetime(2021, 8, 13, 10, 48, 12, 528000)},
 {'_id': ObjectId('61164df8eb51675398f7f01b'),
  'roomId': '2',
  'consumption_wh': 1.1415,
  'deviceId': 'P1L1',
  'power_w': 68.49,
  'date': datetime.datetime(2021, 8, 13, 10, 48, 12, 528000)},
 {'_id': ObjectId('61164e2deb51675398f7f027'),
  'roomId': '1',
  'consumption_wh': 1.2461666666666666,
  'deviceId': 'P0L1',
  'power_w': 74.77,
  'date': datetime.datetime(2021, 8, 13, 10, 49, 12, 528000)},
 {'_id': ObjectId('61164e35eb51675398f7f02f'),
  'roomId': '2',
  'consumption_wh': 1.1400000000000001,
  'deviceId': 'P1L1',
  'power_w': 68.4,
  'date': datetime.datetime(2021, 8, 13, 10, 49, 12, 528000)},
 {'_id': ObjectId('61164e69eb51675398f7f03b'),
  'roomId': '1',
  'consumption_wh': 1.2446666666666668,
  'deviceId': 'P0L1',
  'power_w': 74.68,
  'date': datetime.datetime(2021, 8, 13, 10, 50, 12, 529000)},
 {'_id': ObjectId('61164e70eb51675398f7f043'),
  'roomId': '2',
  'consumption_wh': 1.1408333333333334,
  'deviceId': 'P1L1',
  'power_w': 68.45,
  'date': datetime.datetime(2021, 8, 13, 10, 50, 12, 529000)},
 {'_id': ObjectId('61164ea5eb51675398f7f04f'),
  'roomId': '1',
  'consumption_wh': 1.246,
  'deviceId': 'P0L1',
  'power_w': 74.76,
  'date': datetime.datetime(2021, 8, 13, 10, 51, 12, 529000)},
 {'_id': ObjectId('61164eaceb51675398f7f057'),
  'roomId': '2',
  'consumption_wh': 1.1411666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.47,
  'date': datetime.datetime(2021, 8, 13, 10, 51, 12, 529000)},
 {'_id': ObjectId('61164ee2eb51675398f7f063'),
  'roomId': '1',
  'consumption_wh': 1.2456666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.74,
  'date': datetime.datetime(2021, 8, 13, 10, 52, 12, 529000)},
 {'_id': ObjectId('61164ee8eb51675398f7f06b'),
  'roomId': '2',
  'consumption_wh': 1.1403333333333334,
  'deviceId': 'P1L1',
  'power_w': 68.42,
  'date': datetime.datetime(2021, 8, 13, 10, 52, 12, 529000)},
 {'_id': ObjectId('61164f1deb51675398f7f077'),
  'roomId': '1',
  'consumption_wh': 1.2468333333333335,
  'deviceId': 'P0L1',
  'power_w': 74.81,
  'date': datetime.datetime(2021, 8, 13, 10, 53, 12, 528000)},
 {'_id': ObjectId('61164f24eb51675398f7f07f'),
  'roomId': '2',
  'consumption_wh': 1.1391666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.35,
  'date': datetime.datetime(2021, 8, 13, 10, 53, 12, 528000)},
 {'_id': ObjectId('61164f59eb51675398f7f08b'),
  'roomId': '1',
  'consumption_wh': 1.2463333333333333,
  'deviceId': 'P0L1',
  'power_w': 74.78,
  'date': datetime.datetime(2021, 8, 13, 10, 54, 12, 528000)},
 {'_id': ObjectId('61164f60eb51675398f7f093'),
  'roomId': '2',
  'consumption_wh': 1.1406666666666667,
  'deviceId': 'P1L1',
  'power_w': 68.44,
  'date': datetime.datetime(2021, 8, 13, 10, 54, 12, 528000)},
 {'_id': ObjectId('61164f95eb51675398f7f09f'),
  'roomId': '1',
  'consumption_wh': 1.2471666666666665,
  'deviceId': 'P0L1',
  'power_w': 74.83,
  'date': datetime.datetime(2021, 8, 13, 10, 55, 12, 528000)},
 {'_id': ObjectId('61164f9ceb51675398f7f0a7'),
  'roomId': '2',
  'consumption_wh': 1.1405,
  'deviceId': 'P1L1',
  'power_w': 68.43,
  'date': datetime.datetime(2021, 8, 13, 10, 55, 12, 528000)},
 {'_id': ObjectId('61164fd1eb51675398f7f0b3'),
  'roomId': '1',
  'consumption_wh': 1.246,
  'deviceId': 'P0L1',
  'power_w': 74.76,
  'date': datetime.datetime(2021, 8, 13, 10, 56, 12, 528000)},
 {'_id': ObjectId('61164fd8eb51675398f7f0bb'),
  'roomId': '2',
  'consumption_wh': 1.1416666666666666,
  'deviceId': 'P1L1',
  'power_w': 68.5,
  'date': datetime.datetime(2021, 8, 13, 10, 56, 12, 528000)},
 {'_id': ObjectId('6116500deb51675398f7f0c7'),
  'roomId': '1',
  'consumption_wh': 1.2448333333333332,
  'deviceId': 'P0L1',
  'power_w': 74.69,
  'date': datetime.datetime(2021, 8, 13, 10, 57, 12, 528000)},
 {'_id': ObjectId('61165014eb51675398f7f0cf'),
  'roomId': '2',
  'consumption_wh': 1.1400000000000001,
  'deviceId': 'P1L1',
  'power_w': 68.4,
  'date': datetime.datetime(2021, 8, 13, 10, 57, 12, 528000)},
 {'_id': ObjectId('61165049eb51675398f7f0e1'),
  'roomId': '1',
  'consumption_wh': 1.2455,
  'deviceId': 'P0L1',
  'power_w': 74.73,
  'date': datetime.datetime(2021, 8, 13, 10, 58, 12, 529000)},
 {'_id': ObjectId('61165050eb51675398f7f0e9'),
  'roomId': '2',
  'consumption_wh': 1.1409999999999998,
  'deviceId': 'P1L1',
  'power_w': 68.46,
  'date': datetime.datetime(2021, 8, 13, 10, 58, 12, 529000)},
 {'_id': ObjectId('61165085eb51675398f7f0f5'),
  'roomId': '1',
  'consumption_wh': 1.2455,
  'deviceId': 'P0L1',
  'power_w': 74.73,
  'date': datetime.datetime(2021, 8, 13, 10, 59, 12, 529000)}]

In [8]:
list1=list(records.find({'roomId':'1'}))

In [9]:
print(list1)
type(list1)

[{'_id': ObjectId('61164946eb51675398f7ee87'), 'roomId': '1', 'consumption_wh': 1.2453333333333334, 'deviceId': 'P0L1', 'power_w': 74.72, 'date': datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)}, {'_id': ObjectId('6116497eeb51675398f7ee97'), 'roomId': '1', 'consumption_wh': 1.2451666666666665, 'deviceId': 'P0L1', 'power_w': 74.71, 'date': datetime.datetime(2021, 8, 13, 10, 29, 12, 528000)}, {'_id': ObjectId('611649b9eb51675398f7eea7'), 'roomId': '1', 'consumption_wh': 1.2463333333333333, 'deviceId': 'P0L1', 'power_w': 74.78, 'date': datetime.datetime(2021, 8, 13, 10, 30, 12, 528000)}, {'_id': ObjectId('611649f6eb51675398f7eeb7'), 'roomId': '1', 'consumption_wh': 1.2451666666666665, 'deviceId': 'P0L1', 'power_w': 74.71, 'date': datetime.datetime(2021, 8, 13, 10, 31, 12, 528000)}, {'_id': ObjectId('61164a32eb51675398f7eec7'), 'roomId': '1', 'consumption_wh': 1.246, 'deviceId': 'P0L1', 'power_w': 74.76, 'date': datetime.datetime(2021, 8, 13, 10, 32, 12, 529000)}, {'_id': ObjectId('61164a6deb51675398f7eedb'), 'roomId': '1', 'consumption_wh': 1.2445, 'deviceId': 'P0L1', 'power_w': 74.67, 'date': datetime.datetime(2021, 8, 13, 10, 33, 12, 528000)}, {'_id': ObjectId('61164aa9eb51675398f7eeef'), 'roomId': '1', 'consumption_wh': 1.2441666666666669, 'deviceId': 'P0L1', 'power_w': 74.65, 'date': datetime.datetime(2021, 8, 13, 10, 34, 12, 529000)}, {'_id': ObjectId('61164ae5eb51675398f7ef03'), 'roomId': '1', 'consumption_wh': 1.2463333333333333, 'deviceId': 'P0L1', 'power_w': 74.78, 'date': datetime.datetime(2021, 8, 13, 10, 35, 12, 528000)}, {'_id': ObjectId('61164b21eb51675398f7ef17'), 'roomId': '1', 'consumption_wh': 1.2456666666666665, 'deviceId': 'P0L1', 'power_w': 74.74, 'date': datetime.datetime(2021, 8, 13, 10, 36, 12, 529000)}, {'_id': ObjectId('61164b5deb51675398f7ef2b'), 'roomId': '1', 'consumption_wh': 1.2451666666666665, 'deviceId': 'P0L1', 'power_w': 74.71, 'date': datetime.datetime(2021, 8, 13, 10, 37, 12, 528000)}, {'_id': ObjectId('61164b99eb51675398f7ef45'), 'roomId': '1', 'consumption_wh': 1.2469999999999999, 'deviceId': 'P0L1', 'power_w': 74.82, 'date': datetime.datetime(2021, 8, 13, 10, 38, 12, 528000)}, {'_id': ObjectId('61164bd6eb51675398f7ef59'), 'roomId': '1', 'consumption_wh': 1.2461666666666666, 'deviceId': 'P0L1', 'power_w': 74.77, 'date': datetime.datetime(2021, 8, 13, 10, 39, 12, 529000)}, {'_id': ObjectId('61164c11eb51675398f7ef6d'), 'roomId': '1', 'consumption_wh': 1.2455, 'deviceId': 'P0L1', 'power_w': 74.73, 'date': datetime.datetime(2021, 8, 13, 10, 40, 12, 529000)}, {'_id': ObjectId('61164c4deb51675398f7ef81'), 'roomId': '1', 'consumption_wh': 1.246, 'deviceId': 'P0L1', 'power_w': 74.76, 'date': datetime.datetime(2021, 8, 13, 10, 41, 12, 529000)}, {'_id': ObjectId('61164c8aeb51675398f7ef95'), 'roomId': '1', 'consumption_wh': 1.2458333333333333, 'deviceId': 'P0L1', 'power_w': 74.75, 'date': datetime.datetime(2021, 8, 13, 10, 42, 12, 528000)}, {'_id': ObjectId('61164cc5eb51675398f7efa9'), 'roomId': '1', 'consumption_wh': 1.245, 'deviceId': 'P0L1', 'power_w': 74.7, 'date': datetime.datetime(2021, 8, 13, 10, 43, 12, 528000)}, {'_id': ObjectId('61164d01eb51675398f7efbd'), 'roomId': '1', 'consumption_wh': 1.2468333333333335, 'deviceId': 'P0L1', 'power_w': 74.81, 'date': datetime.datetime(2021, 8, 13, 10, 44, 12, 529000)}, {'_id': ObjectId('61164d3deb51675398f7efd1'), 'roomId': '1', 'consumption_wh': 1.2469999999999999, 'deviceId': 'P0L1', 'power_w': 74.82, 'date': datetime.datetime(2021, 8, 13, 10, 45, 12, 529000)}, {'_id': ObjectId('61164d79eb51675398f7efe5'), 'roomId': '1', 'consumption_wh': 1.2455, 'deviceId': 'P0L1', 'power_w': 74.73, 'date': datetime.datetime(2021, 8, 13, 10, 46, 12, 528000)}, {'_id': ObjectId('61164db5eb51675398f7eff9'), 'roomId': '1', 'consumption_wh': 1.2466666666666666, 'deviceId': 'P0L1', 'power_w': 74.8, 'date': datetime.datetime(2021, 8, 13, 10, 47, 12, 528000)}, {'_id': ObjectId('61164df1eb51675398f7f013'), 'roomId': '1', 'consumption_wh': 1.2446666666666668, 'deviceId': 'P0L1', 'power_w': 74.68, 'date': datetime.datetime(2021, 8, 13, 10, 48, 12, 528000)}, {'_id': ObjectId('61164e2deb51675398f7f027'), 'roomId': '1', 'consumption_wh': 1.2461666666666666, 'deviceId': 'P0L1', 'power_w': 74.77, 'date': datetime.datetime(2021, 8, 13, 10, 49, 12, 528000)}, {'_id': ObjectId('61164e69eb51675398f7f03b'), 'roomId': '1', 'consumption_wh': 1.2446666666666668, 'deviceId': 'P0L1', 'power_w': 74.68, 'date': datetime.datetime(2021, 8, 13, 10, 50, 12, 529000)}, {'_id': ObjectId('61164ea5eb51675398f7f04f'), 'roomId': '1', 'consumption_wh': 1.246, 'deviceId': 'P0L1', 'power_w': 74.76, 'date': datetime.datetime(2021, 8, 13, 10, 51, 12, 529000)}, {'_id': ObjectId('61164ee2eb51675398f7f063'), 'roomId': '1', 'consumption_wh': 1.2456666666666665, 'deviceId': 'P0L1', 'power_w': 74.74, 'date': datetime.datetime(2021, 8, 13, 10, 52, 12, 529000)}, {'_id': ObjectId('61164f1deb51675398f7f077'), 'roomId': '1', 'consumption_wh': 1.2468333333333335, 'deviceId': 'P0L1', 'power_w': 74.81, 'date': datetime.datetime(2021, 8, 13, 10, 53, 12, 528000)}, {'_id': ObjectId('61164f59eb51675398f7f08b'), 'roomId': '1', 'consumption_wh': 1.2463333333333333, 'deviceId': 'P0L1', 'power_w': 74.78, 'date': datetime.datetime(2021, 8, 13, 10, 54, 12, 528000)}, {'_id': ObjectId('61164f95eb51675398f7f09f'), 'roomId': '1', 'consumption_wh': 1.2471666666666665, 'deviceId': 'P0L1', 'power_w': 74.83, 'date': datetime.datetime(2021, 8, 13, 10, 55, 12, 528000)}, {'_id': ObjectId('61164fd1eb51675398f7f0b3'), 'roomId': '1', 'consumption_wh': 1.246, 'deviceId': 'P0L1', 'power_w': 74.76, 'date': datetime.datetime(2021, 8, 13, 10, 56, 12, 528000)}, {'_id': ObjectId('6116500deb51675398f7f0c7'), 'roomId': '1', 'consumption_wh': 1.2448333333333332, 'deviceId': 'P0L1', 'power_w': 74.69, 'date': datetime.datetime(2021, 8, 13, 10, 57, 12, 528000)}, {'_id': ObjectId('61165049eb51675398f7f0e1'), 'roomId': '1', 'consumption_wh': 1.2455, 'deviceId': 'P0L1', 'power_w': 74.73, 'date': datetime.datetime(2021, 8, 13, 10, 58, 12, 529000)}, {'_id': ObjectId('61165085eb51675398f7f0f5'), 'roomId': '1', 'consumption_wh': 1.2455, 'deviceId': 'P0L1', 'power_w': 74.73, 'date': datetime.datetime(2021, 8, 13, 10, 59, 12, 529000)}]

list

In [10]:
list1[0]["date"]

datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)

In [11]:
list2=list(records.find({'roomId':'2'}))

In [12]:
print(list2)
type(list2)

[{'_id': ObjectId('6116494deb51675398f7ee8b'), 'roomId': '2', 'consumption_wh': 1.1411666666666667, 'deviceId': 'P1L1', 'power_w': 68.47, 'date': datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)}, {'_id': ObjectId('61164984eb51675398f7ee9b'), 'roomId': '2', 'consumption_wh': 1.1406666666666667, 'deviceId': 'P1L1', 'power_w': 68.44, 'date': datetime.datetime(2021, 8, 13, 10, 29, 12, 528000)}, {'_id': ObjectId('611649c0eb51675398f7eeab'), 'roomId': '2', 'consumption_wh': 1.1409999999999998, 'deviceId': 'P1L1', 'power_w': 68.46, 'date': datetime.datetime(2021, 8, 13, 10, 30, 12, 528000)}, {'_id': ObjectId('611649fceb51675398f7eebb'), 'roomId': '2', 'consumption_wh': 1.1411666666666667, 'deviceId': 'P1L1', 'power_w': 68.47, 'date': datetime.datetime(2021, 8, 13, 10, 31, 12, 528000)}, {'_id': ObjectId('61164a3beb51675398f7eecf'), 'roomId': '2', 'consumption_wh': 1.1411666666666667, 'deviceId': 'P1L1', 'power_w': 68.47, 'date': datetime.datetime(2021, 8, 13, 10, 32, 12, 529000)}, {'_id': ObjectId('61164a74eb51675398f7eee3'), 'roomId': '2', 'consumption_wh': 1.1400000000000001, 'deviceId': 'P1L1', 'power_w': 68.4, 'date': datetime.datetime(2021, 8, 13, 10, 33, 12, 528000)}, {'_id': ObjectId('61164ab0eb51675398f7eef7'), 'roomId': '2', 'consumption_wh': 1.1421666666666668, 'deviceId': 'P1L1', 'power_w': 68.53, 'date': datetime.datetime(2021, 8, 13, 10, 34, 12, 529000)}, {'_id': ObjectId('61164aedeb51675398f7ef0b'), 'roomId': '2', 'consumption_wh': 1.1406666666666667, 'deviceId': 'P1L1', 'power_w': 68.44, 'date': datetime.datetime(2021, 8, 13, 10, 35, 12, 528000)}, {'_id': ObjectId('61164b29eb51675398f7ef1f'), 'roomId': '2', 'consumption_wh': 1.142, 'deviceId': 'P1L1', 'power_w': 68.52, 'date': datetime.datetime(2021, 8, 13, 10, 36, 12, 529000)}, {'_id': ObjectId('61164b64eb51675398f7ef33'), 'roomId': '2', 'consumption_wh': 1.1409999999999998, 'deviceId': 'P1L1', 'power_w': 68.46, 'date': datetime.datetime(2021, 8, 13, 10, 37, 12, 528000)}, {'_id': ObjectId('61164ba0eb51675398f7ef4d'), 'roomId': '2', 'consumption_wh': 1.1408333333333334, 'deviceId': 'P1L1', 'power_w': 68.45, 'date': datetime.datetime(2021, 8, 13, 10, 38, 12, 528000)}, {'_id': ObjectId('61164bdceb51675398f7ef61'), 'roomId': '2', 'consumption_wh': 1.1406666666666667, 'deviceId': 'P1L1', 'power_w': 68.44, 'date': datetime.datetime(2021, 8, 13, 10, 39, 12, 529000)}, {'_id': ObjectId('61164c18eb51675398f7ef75'), 'roomId': '2', 'consumption_wh': 1.1405, 'deviceId': 'P1L1', 'power_w': 68.43, 'date': datetime.datetime(2021, 8, 13, 10, 40, 12, 529000)}, {'_id': ObjectId('61164c54eb51675398f7ef89'), 'roomId': '2', 'consumption_wh': 1.1400000000000001, 'deviceId': 'P1L1', 'power_w': 68.4, 'date': datetime.datetime(2021, 8, 13, 10, 41, 12, 529000)}, {'_id': ObjectId('61164c90eb51675398f7ef9d'), 'roomId': '2', 'consumption_wh': 1.1418333333333335, 'deviceId': 'P1L1', 'power_w': 68.51, 'date': datetime.datetime(2021, 8, 13, 10, 42, 12, 528000)}, {'_id': ObjectId('61164ccdeb51675398f7efb1'), 'roomId': '2', 'consumption_wh': 1.1409999999999998, 'deviceId': 'P1L1', 'power_w': 68.46, 'date': datetime.datetime(2021, 8, 13, 10, 43, 12, 528000)}, {'_id': ObjectId('61164d08eb51675398f7efc5'), 'roomId': '2', 'consumption_wh': 1.1400000000000001, 'deviceId': 'P1L1', 'power_w': 68.4, 'date': datetime.datetime(2021, 8, 13, 10, 44, 12, 529000)}, {'_id': ObjectId('61164d44eb51675398f7efd9'), 'roomId': '2', 'consumption_wh': 1.1409999999999998, 'deviceId': 'P1L1', 'power_w': 68.46, 'date': datetime.datetime(2021, 8, 13, 10, 45, 12, 529000)}, {'_id': ObjectId('61164d80eb51675398f7efed'), 'roomId': '2', 'consumption_wh': 1.1406666666666667, 'deviceId': 'P1L1', 'power_w': 68.44, 'date': datetime.datetime(2021, 8, 13, 10, 46, 12, 528000)}, {'_id': ObjectId('61164dbceb51675398f7f001'), 'roomId': '2', 'consumption_wh': 1.1418333333333335, 'deviceId': 'P1L1', 'power_w': 68.51, 'date': datetime.datetime(2021, 8, 13, 10, 47, 12, 528000)}, {'_id': ObjectId('61164df8eb51675398f7f01b'), 'roomId': '2', 'consumption_wh': 1.1415, 'deviceId': 'P1L1', 'power_w': 68.49, 'date': datetime.datetime(2021, 8, 13, 10, 48, 12, 528000)}, {'_id': ObjectId('61164e35eb51675398f7f02f'), 'roomId': '2', 'consumption_wh': 1.1400000000000001, 'deviceId': 'P1L1', 'power_w': 68.4, 'date': datetime.datetime(2021, 8, 13, 10, 49, 12, 528000)}, {'_id': ObjectId('61164e70eb51675398f7f043'), 'roomId': '2', 'consumption_wh': 1.1408333333333334, 'deviceId': 'P1L1', 'power_w': 68.45, 'date': datetime.datetime(2021, 8, 13, 10, 50, 12, 529000)}, {'_id': ObjectId('61164eaceb51675398f7f057'), 'roomId': '2', 'consumption_wh': 1.1411666666666667, 'deviceId': 'P1L1', 'power_w': 68.47, 'date': datetime.datetime(2021, 8, 13, 10, 51, 12, 529000)}, {'_id': ObjectId('61164ee8eb51675398f7f06b'), 'roomId': '2', 'consumption_wh': 1.1403333333333334, 'deviceId': 'P1L1', 'power_w': 68.42, 'date': datetime.datetime(2021, 8, 13, 10, 52, 12, 529000)}, {'_id': ObjectId('61164f24eb51675398f7f07f'), 'roomId': '2', 'consumption_wh': 1.1391666666666667, 'deviceId': 'P1L1', 'power_w': 68.35, 'date': datetime.datetime(2021, 8, 13, 10, 53, 12, 528000)}, {'_id': ObjectId('61164f60eb51675398f7f093'), 'roomId': '2', 'consumption_wh': 1.1406666666666667, 'deviceId': 'P1L1', 'power_w': 68.44, 'date': datetime.datetime(2021, 8, 13, 10, 54, 12, 528000)}, {'_id': ObjectId('61164f9ceb51675398f7f0a7'), 'roomId': '2', 'consumption_wh': 1.1405, 'deviceId': 'P1L1', 'power_w': 68.43, 'date': datetime.datetime(2021, 8, 13, 10, 55, 12, 528000)}, {'_id': ObjectId('61164fd8eb51675398f7f0bb'), 'roomId': '2', 'consumption_wh': 1.1416666666666666, 'deviceId': 'P1L1', 'power_w': 68.5, 'date': datetime.datetime(2021, 8, 13, 10, 56, 12, 528000)}, {'_id': ObjectId('61165014eb51675398f7f0cf'), 'roomId': '2', 'consumption_wh': 1.1400000000000001, 'deviceId': 'P1L1', 'power_w': 68.4, 'date': datetime.datetime(2021, 8, 13, 10, 57, 12, 528000)}, {'_id': ObjectId('61165050eb51675398f7f0e9'), 'roomId': '2', 'consumption_wh': 1.1409999999999998, 'deviceId': 'P1L1', 'power_w': 68.46, 'date': datetime.datetime(2021, 8, 13, 10, 58, 12, 529000)}]

list

In [13]:
list2[0]["date"]

datetime.datetime(2021, 8, 13, 10, 28, 12, 547000)

In [14]:
### Using pandas for room-1

In [15]:
df = pd.DataFrame(list1)

In [16]:
df

,_id,roomId,consumption_wh,deviceId,power_w,date
0,61164946eb51675398f7ee87,1,1.245333,P0L1,74.72,2021-08-13 10:28:12.547
1,6116497eeb51675398f7ee97,1,1.245167,P0L1,74.71,2021-08-13 10:29:12.528
2,611649b9eb51675398f7eea7,1,1.246333,P0L1,74.78,2021-08-13 10:30:12.528
3,611649f6eb51675398f7eeb7,1,1.245167,P0L1,74.71,2021-08-13 10:31:12.528
4,61164a32eb51675398f7eec7,1,1.246000,P0L1,74.76,2021-08-13 10:32:12.529
5,61164a6deb51675398f7eedb,1,1.244500,P0L1,74.67,2021-08-13 10:33:12.528
6,61164aa9eb51675398f7eeef,1,1.244167,P0L1,74.65,2021-08-13 10:34:12.529
7,61164ae5eb51675398f7ef03,1,1.246333,P0L1,74.78,2021-08-13 10:35:12.528
8,61164b21eb51675398f7ef17,1,1.245667,P0L1,74.74,2021-08-13 10:36:12.529
9,61164b5deb51675398f7ef2b,1,1.245167,P0L1,74.71,2021-08-13 10:37:12.528
10,61164b99eb51675398f7ef45,1,1.247000,P0L1,74.82,2021-08-13 10:38:12.528
11,61164bd6eb51675398f7ef59,1,1.246167,P0L1,74.77,2021-08-13 10:39:12.529
12,61164c11eb51675398f7ef6d,1,1.245500,P0L1,74.73,2021-08-13 10:40:12.529
13,61164c4deb51675398f7ef81,1,1.246000,P0L1,74.76,2021-08-13 10:41:12.529
14,61164c8aeb51675398f7ef95,1,1.245833,P0L1,74.75,2021-08-13 10:42:12.528
15,61164cc5eb51675398f7efa9,1,1.245000,P0L1,74.70,2021-08-13 10:43:12.528
16,61164d01eb51675398f7efbd,1,1.246833,P0L1,74.81,2021-08-13 10:44:12.529
17,61164d3deb51675398f7efd1,1,1.247000,P0L1,74.82,2021-08-13 10:45:12.529
18,61164d79eb51675398f7efe5,1,1.245500,P0L1,74.73,2021-08-13 10:46:12.528
19,61164db5eb51675398f7eff9,1,1.246667,P0L1,74.80,2021-08-13 10:47:12.528
20,61164df1eb51675398f7f013,1,1.244667,P0L1,74.68,2021-08-13 10:48:12.528
21,61164e2deb51675398f7f027,1,1.246167,P0L1,74.77,2021-08-13 10:49:12.528
22,61164e69eb51675398f7f03b,1,1.244667,P0L1,74.68,2021-08-13 10:50:12.529
23,61164ea5eb51675398f7f04f,1,1.246000,P0L1,74.76,2021-08-13 10:51:12.529
24,61164ee2eb51675398f7f063,1,1.245667,P0L1,74.74,2021-08-13 10:52:12.529
25,61164f1deb51675398f7f077,1,1.246833,P0L1,74.81,2021-08-13 10:53:12.528
26,61164f59eb51675398f7f08b,1,1.246333,P0L1,74.78,2021-08-13 10:54:12.528
27,61164f95eb51675398f7f09f,1,1.247167,P0L1,74.83,2021-08-13 10:55:12.528
28,61164fd1eb51675398f7f0b3,1,1.246000,P0L1,74.76,2021-08-13 10:56:12.528
29,6116500deb51675398f7f0c7,1,1.244833,P0L1,74.69,2021-08-13 10:57:12.528
30,61165049eb51675398f7f0e1,1,1.245500,P0L1,74.73,2021-08-13 10:58:12.529
31,61165085eb51675398f7f0f5,1,1.245500,P0L1,74.73,2021-08-13 10:59:12.529

In [17]:
cols = ['date','roomId','power_w']

In [18]:
df = df[cols]

In [19]:
df

                      date roomId  power_w
0  2021-08-13 10:28:12.547      1    74.72
1  2021-08-13 10:29:12.528      1    74.71
2  2021-08-13 10:30:12.528      1    74.78
3  2021-08-13 10:31:12.528      1    74.71
4  2021-08-13 10:32:12.529      1    74.76
5  2021-08-13 10:33:12.528      1    74.67
6  2021-08-13 10:34:12.529      1    74.65
7  2021-08-13 10:35:12.528      1    74.78
8  2021-08-13 10:36:12.529      1    74.74
9  2021-08-13 10:37:12.528      1    74.71
10 2021-08-13 10:38:12.528      1    74.82
11 2021-08-13 10:39:12.529      1    74.77
12 2021-08-13 10:40:12.529      1    74.73
13 2021-08-13 10:41:12.529      1    74.76
14 2021-08-13 10:42:12.528      1    74.75
15 2021-08-13 10:43:12.528      1    74.70
16 2021-08-13 10:44:12.529      1    74.81
17 2021-08-13 10:45:12.529      1    74.82
18 2021-08-13 10:46:12.528      1    74.73
19 2021-08-13 10:47:12.528      1    74.80
20 2021-08-13 10:48:12.528      1    74.68
21 2021-08-13 10:49:12.528      1    74.77
22 2021-08-13 10:50:12.529      1    74.68
23 2021-08-13 10:51:12.529      1    74.76
24 2021-08-13 10:52:12.529      1    74.74
25 2021-08-13 10:53:12.528      1    74.81
26 2021-08-13 10:54:12.528      1    74.78
27 2021-08-13 10:55:12.528      1    74.83
28 2021-08-13 10:56:12.528      1    74.76
29 2021-08-13 10:57:12.528      1    74.69
30 2021-08-13 10:58:12.529      1    74.73
31 2021-08-13 10:59:12.529      1    74.73

In [ ]:
### Ligh power consumption in room-1

In [20]:
df.rename(columns={'date':'Timestamp','power_w':'power'})

                 Timestamp roomId  power
0  2021-08-13 10:28:12.547      1  74.72
1  2021-08-13 10:29:12.528      1  74.71
2  2021-08-13 10:30:12.528      1  74.78
3  2021-08-13 10:31:12.528      1  74.71
4  2021-08-13 10:32:12.529      1  74.76
5  2021-08-13 10:33:12.528      1  74.67
6  2021-08-13 10:34:12.529      1  74.65
7  2021-08-13 10:35:12.528      1  74.78
8  2021-08-13 10:36:12.529      1  74.74
9  2021-08-13 10:37:12.528      1  74.71
10 2021-08-13 10:38:12.528      1  74.82
11 2021-08-13 10:39:12.529      1  74.77
12 2021-08-13 10:40:12.529      1  74.73
13 2021-08-13 10:41:12.529      1  74.76
14 2021-08-13 10:42:12.528      1  74.75
15 2021-08-13 10:43:12.528      1  74.70
16 2021-08-13 10:44:12.529      1  74.81
17 2021-08-13 10:45:12.529      1  74.82
18 2021-08-13 10:46:12.528      1  74.73
19 2021-08-13 10:47:12.528      1  74.80
20 2021-08-13 10:48:12.528      1  74.68
21 2021-08-13 10:49:12.528      1  74.77
22 2021-08-13 10:50:12.529      1  74.68
23 2021-08-13 10:51:12.529      1  74.76
24 2021-08-13 10:52:12.529      1  74.74
25 2021-08-13 10:53:12.528      1  74.81
26 2021-08-13 10:54:12.528      1  74.78
27 2021-08-13 10:55:12.528      1  74.83
28 2021-08-13 10:56:12.528      1  74.76
29 2021-08-13 10:57:12.528      1  74.69
30 2021-08-13 10:58:12.529      1  74.73
31 2021-08-13 10:59:12.529      1  74.73

In [ ]:
### Using pandas for room-2

In [21]:
df2 = pd.DataFrame(list2)

In [22]:
df2

,_id,roomId,consumption_wh,deviceId,power_w,date
0,6116494deb51675398f7ee8b,2,1.141167,P1L1,68.47,2021-08-13 10:28:12.547
1,61164984eb51675398f7ee9b,2,1.140667,P1L1,68.44,2021-08-13 10:29:12.528
2,611649c0eb51675398f7eeab,2,1.141000,P1L1,68.46,2021-08-13 10:30:12.528
3,611649fceb51675398f7eebb,2,1.141167,P1L1,68.47,2021-08-13 10:31:12.528
4,61164a3beb51675398f7eecf,2,1.141167,P1L1,68.47,2021-08-13 10:32:12.529
5,61164a74eb51675398f7eee3,2,1.140000,P1L1,68.40,2021-08-13 10:33:12.528
6,61164ab0eb51675398f7eef7,2,1.142167,P1L1,68.53,2021-08-13 10:34:12.529
7,61164aedeb51675398f7ef0b,2,1.140667,P1L1,68.44,2021-08-13 10:35:12.528
8,61164b29eb51675398f7ef1f,2,1.142000,P1L1,68.52,2021-08-13 10:36:12.529
9,61164b64eb51675398f7ef33,2,1.141000,P1L1,68.46,2021-08-13 10:37:12.528
10,61164ba0eb51675398f7ef4d,2,1.140833,P1L1,68.45,2021-08-13 10:38:12.528
11,61164bdceb51675398f7ef61,2,1.140667,P1L1,68.44,2021-08-13 10:39:12.529
12,61164c18eb51675398f7ef75,2,1.140500,P1L1,68.43,2021-08-13 10:40:12.529
13,61164c54eb51675398f7ef89,2,1.140000,P1L1,68.40,2021-08-13 10:41:12.529
14,61164c90eb51675398f7ef9d,2,1.141833,P1L1,68.51,2021-08-13 10:42:12.528
15,61164ccdeb51675398f7efb1,2,1.141000,P1L1,68.46,2021-08-13 10:43:12.528
16,61164d08eb51675398f7efc5,2,1.140000,P1L1,68.40,2021-08-13 10:44:12.529
17,61164d44eb51675398f7efd9,2,1.141000,P1L1,68.46,2021-08-13 10:45:12.529
18,61164d80eb51675398f7efed,2,1.140667,P1L1,68.44,2021-08-13 10:46:12.528
19,61164dbceb51675398f7f001,2,1.141833,P1L1,68.51,2021-08-13 10:47:12.528
20,61164df8eb51675398f7f01b,2,1.141500,P1L1,68.49,2021-08-13 10:48:12.528
21,61164e35eb51675398f7f02f,2,1.140000,P1L1,68.40,2021-08-13 10:49:12.528
22,61164e70eb51675398f7f043,2,1.140833,P1L1,68.45,2021-08-13 10:50:12.529
23,61164eaceb51675398f7f057,2,1.141167,P1L1,68.47,2021-08-13 10:51:12.529
24,61164ee8eb51675398f7f06b,2,1.140333,P1L1,68.42,2021-08-13 10:52:12.529
25,61164f24eb51675398f7f07f,2,1.139167,P1L1,68.35,2021-08-13 10:53:12.528
26,61164f60eb51675398f7f093,2,1.140667,P1L1,68.44,2021-08-13 10:54:12.528
27,61164f9ceb51675398f7f0a7,2,1.140500,P1L1,68.43,2021-08-13 10:55:12.528
28,61164fd8eb51675398f7f0bb,2,1.141667,P1L1,68.50,2021-08-13 10:56:12.528
29,61165014eb51675398f7f0cf,2,1.140000,P1L1,68.40,2021-08-13 10:57:12.528
30,61165050eb51675398f7f0e9,2,1.141000,P1L1,68.46,2021-08-13 10:58:12.529

In [23]:
cols2 = ['date','roomId','power_w']

In [24]:
df2 = df2[cols2]

In [25]:
df2

                      date roomId  power_w
0  2021-08-13 10:28:12.547      2    68.47
1  2021-08-13 10:29:12.528      2    68.44
2  2021-08-13 10:30:12.528      2    68.46
3  2021-08-13 10:31:12.528      2    68.47
4  2021-08-13 10:32:12.529      2    68.47
5  2021-08-13 10:33:12.528      2    68.40
6  2021-08-13 10:34:12.529      2    68.53
7  2021-08-13 10:35:12.528      2    68.44
8  2021-08-13 10:36:12.529      2    68.52
9  2021-08-13 10:37:12.528      2    68.46
10 2021-08-13 10:38:12.528      2    68.45
11 2021-08-13 10:39:12.529      2    68.44
12 2021-08-13 10:40:12.529      2    68.43
13 2021-08-13 10:41:12.529      2    68.40
14 2021-08-13 10:42:12.528      2    68.51
15 2021-08-13 10:43:12.528      2    68.46
16 2021-08-13 10:44:12.529      2    68.40
17 2021-08-13 10:45:12.529      2    68.46
18 2021-08-13 10:46:12.528      2    68.44
19 2021-08-13 10:47:12.528      2    68.51
20 2021-08-13 10:48:12.528      2    68.49
21 2021-08-13 10:49:12.528      2    68.40
22 2021-08-13 10:50:12.529      2    68.45
23 2021-08-13 10:51:12.529      2    68.47
24 2021-08-13 10:52:12.529      2    68.42
25 2021-08-13 10:53:12.528      2    68.35
26 2021-08-13 10:54:12.528      2    68.44
27 2021-08-13 10:55:12.528      2    68.43
28 2021-08-13 10:56:12.528      2    68.50
29 2021-08-13 10:57:12.528      2    68.40
30 2021-08-13 10:58:12.529      2    68.46

In [26]:
### Light power consumption in room-2

In [27]:
df2.rename(columns={'date':'Timestamp','power_w':'power'})

                 Timestamp roomId  power
0  2021-08-13 10:28:12.547      2  68.47
1  2021-08-13 10:29:12.528      2  68.44
2  2021-08-13 10:30:12.528      2  68.46
3  2021-08-13 10:31:12.528      2  68.47
4  2021-08-13 10:32:12.529      2  68.47
5  2021-08-13 10:33:12.528      2  68.40
6  2021-08-13 10:34:12.529      2  68.53
7  2021-08-13 10:35:12.528      2  68.44
8  2021-08-13 10:36:12.529      2  68.52
9  2021-08-13 10:37:12.528      2  68.46
10 2021-08-13 10:38:12.528      2  68.45
11 2021-08-13 10:39:12.529      2  68.44
12 2021-08-13 10:40:12.529      2  68.43
13 2021-08-13 10:41:12.529      2  68.40
14 2021-08-13 10:42:12.528      2  68.51
15 2021-08-13 10:43:12.528      2  68.46
16 2021-08-13 10:44:12.529      2  68.40
17 2021-08-13 10:45:12.529      2  68.46
18 2021-08-13 10:46:12.528      2  68.44
19 2021-08-13 10:47:12.528      2  68.51
20 2021-08-13 10:48:12.528      2  68.49
21 2021-08-13 10:49:12.528      2  68.40
22 2021-08-13 10:50:12.529      2  68.45
23 2021-08-13 10:51:12.529      2  68.47
24 2021-08-13 10:52:12.529      2  68.42
25 2021-08-13 10:53:12.528      2  68.35
26 2021-08-13 10:54:12.528      2  68.44
27 2021-08-13 10:55:12.528      2  68.43
28 2021-08-13 10:56:12.528      2  68.50
29 2021-08-13 10:57:12.528      2  68.40
30 2021-08-13 10:58:12.529      2  68.46